{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" type="image/x-icon">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    {% block head %}{% endblock %}

</head>
<body>

    <header class="site-header">
        <div class="logo">
            <span>Simple bible</span>
        </div>

        <div class="nav-center">
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Início</a></li>
                <li><a href="#">Configurações</a></li>
                <li><a href="#">Sobre</a></li>
                {% if request.session.usuario %}
                    <a href="{% url 'logout' %}" id="button_mobile_logout" class="sair">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}" id="button_mobile_login" class="login-button">Login</a>
                {% endif %}
            </ul>
        </div>

        <div class="login-area">
            {% if request.session.usuario %}
                <a href="{% url 'logout' %}" class="sair">Sair</a>
            {% else %}
                <a href="{% url 'login' %}" class="login-button">Login</a>
            {% endif %}
        </div>

        <div class="hamburger" onclick="toggleMenu()">☰</div>
    </header>

    
    <div class="container-children">

        {% block conteudo %}
            
        {% endblock %}

    </div>
    

    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>